<form action="/editar/{{id}}" method="POST"> 
    <fieldset>
        <legend>Editar post</legend>
        <div class="input-group vertical">
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" value="{{titulo}}">
        </div>
        <div class="input-group vertical">
            <label for="conteudo">Conteúdo:</label>
            <textarea name="conteudo" rows="8" cols="40">{{conteudo}}</textarea>
        </div>
        <div class="input-group">            
            <button type="submit" class="small secondary">Salvar alteração</button>
        </div>
    </fieldset>
</form>
<a href="/"><button class="small primary">Cancelar edição</button></a>