<form action="/add" method="POST"> 
    <fieldset>
        <legend>Cadastrar novo post</legend>
        <div class="input-group vertical">
            <label for="titulo">Título:</label>
            <input type="text" name="titulo">
        </div>
        <div class="input-group vertical">
            <label for="conteudo">Conteúdo:</label>
            <textarea name="conteudo" rows="8" cols="40"></textarea>
        </div>
        <div class="input-group">            
            <button type="submit" class="small secondary">Cadastrar postagem</button>
        </div>
    </fieldset>
</form>
<a href="/"><button class="small primary">Cancelar</button></a>
